<nav>
	<ul>
		<li>
			<a href="{{ url('socialog-blog') }}">Home</a>
		</li>
		{% for page in pages %}
			<li>
				<a href="{{ url('socialog-page', {'id':page.id}) }}">{{ page.title }}</a>
			</li>
		{% endfor %}
	</ul>
</nav>
